In [2]:
import sqlite3

In [3]:
import os
print(os.getcwd())
os.chdir('/Users/lkcormack/Documents/GitHub/FDS-CourseTwo')
print(os.getcwd())

/Users/lkcormack/Documents/GitHub/FDS-CourseTwo
/Users/lkcormack/Documents/GitHub/FDS-CourseTwo

In [4]:
con = sqlite3.connect("./data/weather_stations.db")

In [5]:
cur = con.cursor()

In [8]:
res = cur.execute("SELECT * FROM STATION_DATA;")

In [9]:
print(res)

<sqlite3.Cursor object at 0x104217cc0>

In [10]:
print(res.fetchone())

(143080, '34DDA7', 2002, 12, 21, 33.8, 987.4, 3.4, 0.2, 36, 0, None, 1, 1, 1, 1, 1)

In [11]:
a = res.fetchall()

In [14]:
type(a)

list

In [22]:
print(a[0:3][2])

(125600, '145150', 2007, 10, 14, 33, None, 6.9, 2.5, 39.7, 0, None, 0, 0, 0, 0, 0)

In [23]:
import pandas as pd

In [24]:
df = pd.read_sql_query("SELECT * FROM STATION_DATA;", con)

In [25]:
df.head()

,station_number,report_code,year,month,day,dew_point,station_pressure,visibility,wind_speed,temperature,precipitation,snow_depth,fog,rain,hail,thunder,tornado
0,143080,34DDA7,2002,12,21,33.8,987.4,3.4,0.2,36.0,0.00,NaN,1,1,1,1,1
1,766440,39537B,1998,10,1,72.7,1014.6,5.9,6.7,83.3,0.00,NaN,0,0,0,0,0
2,176010,C3C6D5,2001,5,18,55.7,NaN,7.3,4.3,69.1,0.00,NaN,0,0,0,0,0
3,125600,145150,2007,10,14,33.0,NaN,6.9,2.5,39.7,0.00,NaN,0,0,0,0,0
4,470160,EF616A,1967,7,29,65.6,NaN,9.2,1.2,72.4,0.04,NaN,0,0,0,0,0

In [26]:
import seaborn as sns