
### Tutorial: Accessing SQLite Databases and Using Pandas in a Jupyter Notebook

#### 1. Introduction
- Brief overview of the tools: `sqlite3` API for database interaction and Pandas for data manipulation.
- Prerequisites: Basic knowledge of SQL queries, Python, and Jupyter Notebooks.


#### 2. Setting Up Your Environment
Installing Necessary Libraries**: Ensure Pandas and sqlite3 are installed. You can install them using pip if they're not already installed:

In [ ]:
conda install ipython-sql  # Optional, for running SQL directly within cells


#### 3. Connecting to an SQLite Database

In [3]:
import sqlite3

**Using sqlite3 to Connect**:

In [9]:

# Establish a connection to the database.
connection = sqlite3.connect('./data/rexon_metals.db')


**Creating a Cursor Object**:

In [10]:
# Create a cursor object using the connection
cursor = connection.cursor()


#### 4. Executing SQL Queries
**Basic Query Execution**:

In [27]:
# This example retrieves all entries from the PRODUCT table
cursor.execute("SELECT * FROM PRODUCT")
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Copper', 7.51)
(2, 'Aluminum', 2.58)
(3, 'Silver', 15)
(4, 'Steel', 12.31)
(5, 'Bronze', 4)
(6, 'Duralumin', 7.6)
(7, 'Solder', 14.16)
(8, 'Stellite', 13.31)
(9, 'Brass', 4.75)

In [17]:
cursor.rowcount

-1


**Using Parameters in Queries**:

In [19]:

# Using placeholder '?' to avoid SQL injection
product_id = 3
cursor.execute("SELECT * FROM product WHERE product_id = ?", (product_id,))
print(cursor.fetchone())

(3, 'Silver', 15)

In [21]:
# Define your query with placeholders
query = "SELECT * FROM product WHERE price BETWEEN ? AND ? AND description LIKE ?"

# Parameters for the placeholders
min_price = 10
max_price = 14
description_pattern = 'S%'

# Execute the query with the parameters
cursor.execute(query, (min_price, max_price, description_pattern))

# Fetch and print the results
results = cursor.fetchall()
for result in results:
    print(result)

(4, 'Steel', 12.31)
(8, 'Stellite', 13.31)


#### 5. Using Pandas to Work with SQL Queries
**Introduction to Pandas DataFrame**:

In [22]:
import pandas as pd

**Fetching Data into DataFrame**:

In [26]:
# Querying data and loading directly into a DataFrame
query = "SELECT * FROM product"
df = pd.read_sql_query("SELECT * FROM product", connection)
print(df.head())  # Display the first few rows of the DataFrame

   PRODUCT_ID DESCRIPTION  PRICE
0           1      Copper   7.51
1           2    Aluminum   2.58
2           3      Silver  15.00
3           4       Steel  12.31
4           5      Bronze   4.00


#### 6. Converting SQL Results into DataFrames
**Detailed Example with Real Data**:

In [25]:
# Complex query example
query = """
SELECT c.name, co.order_qty * p.price AS total_price
FROM customer_order co
JOIN customer c ON co.customer_id = c.customer_id
JOIN product p ON co.product_id = p.product_id;
"""
df = pd.read_sql_query(query, connection)
print(df)

                     NAME  total_price
0         LITE Industrial      3379.50
1   Re-Barre Construction      1548.00
2   Re-Barre Construction      1200.00
3  Marsh Lane Metal Works      4616.25
4   Re-Barre Construction      1290.00


**Exploring DataFrame Features**:

    - `df.describe()` for basic statistics.  
    - `df.sort_values(by='total_price', ascending=False)` to sort data.  
    - `df.groupby('customer_name').sum()` for aggregating data.


#### 7. Closing the Connection
**Important Cleanup Steps**:

In [8]:
cursor.close()
connection.close()


#### 8. Best Practices and Troubleshooting
- Handle database connections with care to avoid locking issues.
- Use context managers (`with` statement) to ensure that resources are managed properly.
- Debugging tips for common issues such as data types and SQL syntax errors.

#### 9. Conclusion
- Recap of what was covered: connecting to databases, executing SQL, and utilizing Pandas for data analysis.
- Encouragement to explore further with more complex SQL queries and Pandas operations.


### Summary
This tutorial is designed to be a practical guide for integrating SQLite database interaction with Python programming in a Jupyter Notebook, making use of Pandas for data manipulation. It builds on SQL knowledge by introducing programmatic ways to handle database data, enhancing both the scope and depth of analysis that students can perform.