
### Tutorial: Accessing SQLite Databases and Using Pandas in a Jupyter Notebook

#### 1. Introduction
- Brief overview of the tools: `sqlite3` API for database interaction and Pandas for data manipulation.
- Prerequisites: Basic knowledge of SQL queries, Python, and Jupyter Notebooks.


#### 2. Setting Up Your Environment
Installing Necessary Libraries**: Ensure Pandas and sqlite3 are installed. You can install them using pip if they're not already installed:

In [ ]:
pip install pandas

pip install ipython-sql  # Optional, for running SQL directly within cells


#### 3. Connecting to an SQLite Database

In [ ]:
import sqlite3

**Using sqlite3 to Connect**:

In [ ]:

# Establish a connection to the database.
connection = sqlite3.connect('rexon_metals.db')


**Creating a Cursor Object**:

In [ ]:
# Create a cursor object using the connection
cursor = connection.cursor()


#### 4. Executing SQL Queries
**Basic Query Execution**:

In [ ]:
# This example retrieves all entries from the PRODUCT table
cursor.execute("SELECT * FROM product")
results = cursor.fetchall()
for row in results:
    print(row)


**Using Parameters in Queries**:

In [ ]:

# Using placeholder '?' to avoid SQL injection
product_id = 101
cursor.execute("SELECT * FROM product WHERE product_id = ?", (product_id,))
print(cursor.fetchone())


#### 5. Using Pandas to Work with SQL Queries
**Introduction to Pandas DataFrame**:

In [ ]:
import pandas as pd

**Fetching Data into DataFrame**:

In [ ]:
# Querying data and loading directly into a DataFrame
query = "SELECT * FROM product"
df = pd.read_sql_query(query, connection)
print(df.head())  # Display the first few rows of the DataFrame


#### 6. Converting SQL Results into DataFrames
**Detailed Example with Real Data**:

In [ ]:
# Complex query example
query = """
SELECT c.customer_name, co.order_qty * p.price AS total_price
FROM customer_order co
JOIN customer c ON co.customer_id = c.customer_id
JOIN product p ON co.product_id = p.product_id;
"""
df = pd.read_sql_query(query, connection)
print(df)


**Exploring DataFrame Features**:

    - `df.describe()` for basic statistics.  
    - `df.sort_values(by='total_price', ascending=False)` to sort data.  
    - `df.groupby('customer_name').sum()` for aggregating data.


#### 7. Closing the Connection
**Important Cleanup Steps**:

In [ ]:
cursor.close()
connection.close()


#### 8. Best Practices and Troubleshooting
- Handle database connections with care to avoid locking issues.
- Use context managers (`with` statement) to ensure that resources are managed properly.
- Debugging tips for common issues such as data types and SQL syntax errors.

#### 9. Conclusion
- Recap of what was covered: connecting to databases, executing SQL, and utilizing Pandas for data analysis.
- Encouragement to explore further with more complex SQL queries and Pandas operations.


### Summary
This tutorial is designed to be a practical guide for integrating SQLite database interaction with Python programming in a Jupyter Notebook, making use of Pandas for data manipulation. It builds on SQL knowledge by introducing programmatic ways to handle database data, enhancing both the scope and depth of analysis that students can perform.