## Add noise and a Dr. specific offset to the breast cancer data

### Prelims

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

Load and clean data

In [6]:
df = pd.DataFrame({'Doc': 2*['Doe', 'Rea',
                              'Mi', 'Pha'],
                   'Measurement': [5, 6, 3, 4, 6, 7, 4, 5]})

In [7]:
df

   Doc  Measurement
0  Doe            5
1  Rea            6
2   Mi            3
3  Pha            4
4  Doe            6
5  Rea            7
6   Mi            4
7  Pha            5

In [15]:
my_rng = np.random.default_rng(42)
rnums = my_rng.normal(size = (8,))

In [16]:
rnums = pd.Series(rnums)

In [17]:
df['Measurement'] = df['Measurement'] + rnums

In [18]:
df

   Doc  Measurement
0  Doe     5.304717
1  Rea     4.960016
2   Mi     3.750451
3  Pha     4.940565
4  Doe     4.048965
5  Rea     5.697820
6   Mi     4.127840
7  Pha     4.683757

In [27]:
df['Doc'] == 'Doe'

0     True
1    False
2    False
3    False
4     True
5    False
6    False
7    False
Name: Doc, dtype: bool