# Wrangling III

In [2]:
import numpy as np
import pandas as pd

In [3]:
def bcd_load_clean():
    bcd = pd.read_csv('./data/breast_cancer_data.csv')
    bcd['patient_id'] = bcd['patient_id'].astype('string')
    bcd['doctor_name'] = bcd['doctor_name'].str.split().str[1]
    bcd['bare_nuclei'] = bcd['bare_nuclei'].replace('?', '')
    bcd['bare_nuclei'] = pd.to_numeric(bcd['bare_nuclei'])
    
    return bcd

In [4]:
bcd = bcd_load_clean()

Make a little version with just two numeric columns to play with.

In [18]:
bcd2 = bcd[['clump_thickness', 'bland_chromatin', 'class']].copy()

Group it. Group it good.

In [19]:
grpd = bcd2.groupby('class')

In [ ]:
grpd.

In [27]:
grpd.get_group('benign')

     clump_thickness  bland_chromatin   class
0                5.0              3.0  benign
1                5.0              3.0  benign
2                3.0              3.0  benign
3                6.0              3.0  benign
4                4.0              3.0  benign
..               ...              ...     ...
690              1.0              1.0  benign
692              3.0              1.0  benign
693              3.0              2.0  benign
694              3.0              1.0  benign
695              2.0              1.0  benign

[458 rows x 3 columns]

### Applying a custom function to data

#### regular functions

In [28]:
def zed(grp):
    grp_mean = grp.mean(numeric_only = True)
    grp_std = grp.std()
    
    grp = (grp - grp_mean)/grp_std
    
    return grp

In [30]:
trans_data = grpd[['clump_thickness', 'bland_chromatin']].transform(zed)

In [31]:
trans_data

     clump_thickness  bland_chromatin
0           1.220597         0.827160
1           1.220597         0.827160
2           0.026081         0.827160
3           1.817856         0.827160
4           0.623339         0.827160
..               ...              ...
694         0.026081        -1.022265
695        -0.571177        -1.022265
696        -0.907153         0.884570
697        -1.318716         1.765470
698        -1.318716         1.765470

[699 rows x 2 columns]

#### lambda functions

### Transforming data

We can also create transformed copies of the data, where we apply the transformation on a per group basis.

In [9]:
trans_data = grpd[['clump_thickness', 'bland_chromatin']].transform(
    lambda col_vals: (col_vals - col_vals.mean()) / col_vals.std()
)

In [11]:
trans_data.mean()

clump_thickness   -2.544924e-17
bland_chromatin    4.089455e-17
dtype: float64

In [12]:
trans_data.std()

clump_thickness    0.999282
bland_chromatin    0.999279
dtype: float64

In [7]:
bcd['class'].value_counts()

benign       458
malignant    241
Name: class, dtype: int64

### Combining multiple files

### Duplicate entries # Move to Wrangling II

In [16]:
bcd.nunique()

patient_id               645
clump_thickness           10
cell_size_uniformity      10
cell_shape_uniformity     10
marginal_adhesion         10
single_ep_cell_size       10
bare_nuclei               10
bland_chromatin           10
normal_nucleoli           10
mitoses                    9
class                      2
doctor_name                4
dtype: int64

In [ ]:
df[df.duplicated(subset = 'patient_id', keep =False)].sort_values('patient_id')

In [ ]:
repeat_patients = df.groupby(by = 'patient_id').size().sort_values(ascending =False)