# Wrangling III

In this tutorial, we'll round out our focus on data wrangling by looking 

- handling duplicate values
- data transformations
- the `apply()` method
- filtering data

## Preliminaries

As usual, we'll load some libraries we'll be likely to use.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

Now we'll get set up to work by

- loading the data and cleaning it up (as before)
- trim out some columns so we can look at the data frame more easily
- shorten up some of the column names to save ourselves some typing

Use our function to do the loading and cleaning.

In [2]:
def bcd_load_clean():
    bcd = pd.read_csv('./data/breast_cancer_data.csv')
    bcd['patient_id'] = bcd['patient_id'].astype('string')
    bcd['doctor_name'] = bcd['doctor_name'].str.split().str[1]
    bcd['bare_nuclei'] = bcd['bare_nuclei'].replace('?', '')
    bcd['bare_nuclei'] = pd.to_numeric(bcd['bare_nuclei'])
    
    return bcd

In [3]:
bcd = bcd_load_clean()

Make a little version with just two numeric columns to play with.

In [4]:
bcd2 = bcd[['patient_id', 'clump_thickness', 'bland_chromatin', 'class']].copy()

Let's give the columns shorter names to save some typing.

In [5]:
bcd2 = bcd2.rename(columns={'clump_thickness': 'thick',
                            'bland_chromatin': 'chrom',
                            'patient_id': 'id'})

## Duplicate entries

As we have already seen, datasets can contain strange things that we have to overcome prior to analysis. One of the most common issues in a dataset are duplicate entries. These are common with large datasets that have been transcribed by humans at some point. Humands get bored, lose their place, etc.

---

Let's look at the shape of our cancer data frame.

In [6]:
bcd2.shape

(699, 4)

---

Now let's look at the number of unique entries using the `nunique()` data frame method; this will the number of distinct values in each column.

In [7]:
bcd2.nunique()

id       645
thick     10
chrom     10
class      2
dtype: int64

---

So we can see that, while there are 699 observations in our data, there are only 645 unique patient ids. This tells us that several patients have multiple entries. This could be from patients making multiple visits to the doctor, or it could be a mistake.

We can find out which rows – which entire observations – are identical with the `duplicated()` method.

In [8]:
bcd2.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
694    False
695    False
696    False
697    False
698     True
Length: 699, dtype: bool

That's not terribly helpful by itself, but...

---

In the cell below, count the number of duplicated rows (remember a True is a 1).

In [9]:
bcd2.duplicated().sum()

12

---

Now we can use logical indexing to see the observations that have duplicates. Do that in the cell below.

In [10]:
bcd2[bcd2.duplicated()]

          id  thick  chrom      class
208  1218860    1.0    3.0     benign
253  1100524    6.0    7.0  malignant
254  1116116    9.0    3.0  malignant
258  1198641    3.0    3.0     benign
272   320675    3.0    7.0  malignant
322   733639    3.0    3.0     benign
338   704097    1.0    2.0     benign
443   734111    1.0    1.0     benign
561  1321942    5.0    3.0     benign
684   466906    1.0    1.0     benign
690   654546    1.0    1.0     benign
698   897471    4.0   10.0  malignant

---

This is promising but, if we look at what is listed, we don't actually see any duplicates. So what is `duplicates()` doing?

---

Use the cell below to get help on `duplicated()` using `help()` or `?`.

In [11]:
help(bcd2.duplicated)

Help on method duplicated in module pandas.core.frame:

duplicated(subset: 'Hashable | Sequence[Hashable] | None' = None, keep: "Literal[('first', 'last', False)]" = 'first') -> 'Series' method of pandas.core.frame.DataFrame instance
    Return boolean Series denoting duplicate rows.

    Considering certain columns is optional.

    Parameters
    ----------
    subset : column label or sequence of labels, optional
        Only consider certain columns for identifying duplicates, by
        default use all of the columns.
    keep : {'first', 'last', False}, default 'first'
        Determines which duplicates (if any) to mark.

        - ``first`` : Mark duplicates as ``True`` except for the first occurrence.
        - ``last`` : Mark duplicates as ``True`` except for the last occurrence.
        - False : Mark all duplicates as ``True``.

    Returns
    -------
    Series
        Boolean series for each duplicated rows.

    See Also
    --------
    Index.duplicated : Equivalent method on index.
    Series.duplicated : Equivalent method on Series.
    Series.drop_duplicates : Remove duplicate values from Series.
    DataFrame.drop_duplicates : Remove duplicate values from DataFrame.

    Examples
    --------
    Consider dataset containing ramen rating.

    >>> df = pd.DataFrame({
    ...     'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    ...     'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    ...     'rating': [4, 4, 3.5, 15, 5]
    ... })
    >>> df
        brand style  rating
    0  Yum Yum   cup     4.0
    1  Yum Yum   cup     4.0
    2  Indomie   cup     3.5
    3  Indomie  pack    15.0
    4  Indomie  pack     5.0

    By default, for each set of duplicated values, the first occurrence
    is set on False and all others on True.

    >>> df.duplicated()
    0    False
    1     True
    2    False
    3    False
    4    False
    dtype: bool

    By using 'last', the last occurrence of each set of duplicated values
    is set on False and all others on True.

    >>> df.duplicated(keep='last')
    0     True
    1    False
    2    False
    3    False
    4    False
    dtype: bool

    By setting ``keep`` on False, all duplicates are True.

    >>> df.duplicated(keep=False)
    0     True
    1     True
    2    False
    3    False
    4    False
    dtype: bool

    To find duplicates on specific column(s), use ``subset``.

    >>> df.duplicated(subset=['brand'])
    0    False
    1     True
    2    False
    3     True
    4     True
    dtype: bool

---

... we can see that it has a "keep" argument. By default, `duplicated()` it gives us the *first* instance of any duplicated rows. We can make it show all the rows with `keep=False`.

Go ahead and do that in the cell below.

In [12]:
bcd2[bcd2.duplicated(keep=False)]

          id  thick  chrom      class
42   1100524    6.0    7.0  malignant
62   1116116    9.0    3.0  malignant
168  1198641    3.0    3.0     benign
207  1218860    1.0    3.0     benign
208  1218860    1.0    3.0     benign
253  1100524    6.0    7.0  malignant
254  1116116    9.0    3.0  malignant
258  1198641    3.0    3.0     benign
267   320675    3.0    7.0  malignant
272   320675    3.0    7.0  malignant
314   704097    1.0    2.0     benign
321   733639    3.0    3.0     benign
322   733639    3.0    3.0     benign
338   704097    1.0    2.0     benign
442   734111    1.0    1.0     benign
443   734111    1.0    1.0     benign
560  1321942    5.0    3.0     benign
561  1321942    5.0    3.0     benign
683   466906    1.0    1.0     benign
684   466906    1.0    1.0     benign
689   654546    1.0    1.0     benign
690   654546    1.0    1.0     benign
697   897471    4.0   10.0  malignant
698   897471    4.0   10.0  malignant

---

Hm. That's somewhat helpful. If we look near the bottom, we see that the last 5 or so duplicates occur in successive rows, perhaps indicating a data entry mistake. Perhaps looking at the data sorted by patient ID would be more helpful.

---

In the cell below, use the the `.sort_values()` method to look at our duplicates sorted by ID.

In [13]:
bcd2[bcd2.duplicated(keep=False)].sort_values('id')

          id  thick  chrom      class
42   1100524    6.0    7.0  malignant
253  1100524    6.0    7.0  malignant
62   1116116    9.0    3.0  malignant
254  1116116    9.0    3.0  malignant
168  1198641    3.0    3.0     benign
258  1198641    3.0    3.0     benign
207  1218860    1.0    3.0     benign
208  1218860    1.0    3.0     benign
561  1321942    5.0    3.0     benign
560  1321942    5.0    3.0     benign
272   320675    3.0    7.0  malignant
267   320675    3.0    7.0  malignant
684   466906    1.0    1.0     benign
683   466906    1.0    1.0     benign
690   654546    1.0    1.0     benign
689   654546    1.0    1.0     benign
314   704097    1.0    2.0     benign
338   704097    1.0    2.0     benign
321   733639    3.0    3.0     benign
322   733639    3.0    3.0     benign
442   734111    1.0    1.0     benign
443   734111    1.0    1.0     benign
697   897471    4.0   10.0  malignant
698   897471    4.0   10.0  malignant

So most of the duplicates occur in adjacent rows, but others do not. Perhaps we should check and see if the same patients occur multiple times with different measurements, indicating multiple visits to the doctor.

---

Use the cell below and the `subset` argument to `duplicated()` to look at multiple entries for any patients that have them.

In [14]:
bcd2[bcd2.duplicated(subset = 'id', keep=False)]

          id  thick  chrom      class
4    1017023    4.0    3.0     benign
8    1033078    2.0    1.0     benign
9    1033078    4.0    2.0     benign
29   1070935    1.0    1.0     benign
30   1070935    3.0    2.0     benign
..       ...    ...    ...        ...
689   654546    1.0    1.0     benign
690   654546    1.0    1.0     benign
691   695091    5.0    4.0  malignant
697   897471    4.0   10.0  malignant
698   897471    4.0   10.0  malignant

[100 rows x 4 columns]

---

Now, in the cell below, do the same thing but sort the output by patient ID.

In [15]:
bcd2[bcd2.duplicated(subset = 'id', keep=False)].sort_values('id')

          id  thick  chrom      class
4    1017023    4.0    3.0     benign
252  1017023    6.0    3.0     benign
8    1033078    2.0    1.0     benign
9    1033078    4.0    2.0     benign
618  1061990    4.0    2.0     benign
..       ...    ...    ...        ...
527   798429    4.0    3.0     benign
344   822829    7.0    9.0  malignant
612   822829    8.0   10.0  malignant
697   897471    4.0   10.0  malignant
698   897471    4.0   10.0  malignant

[100 rows x 4 columns]

---

So it looks like patients do come in multiple times and the values can change between visits.

We can look at repeat patient's number of visits directly if we want. We'll take advantage of the fact that the `.size` of a `groupby()` object returns the number of rows for each group.

In [16]:
repeat_patients = bcd2.groupby('id').size().sort_values(ascending =False)

In [17]:
repeat_patients

id
1182404    6
1276091    5
1198641    3
1299596    2
1158247    2
          ..
1200892    1
1200952    1
1201834    1
1201870    1
95719      1
Length: 645, dtype: int64

So one patient came in 6 times.

---

Use the cell below look at the data for the patient with 6 visits.

In [18]:
bcd2[bcd2['id'] == '1182404']

          id  thick  chrom   class
136  1182404    4.0    2.0  benign
256  1182404    3.0    1.0  benign
257  1182404    3.0    2.0  benign
265  1182404    5.0    3.0  benign
448  1182404    1.0    1.0  benign
497  1182404    4.0    1.0  benign

So it appears that some patients have multiple legitimate entries in the data frame.

---

What would you do with duplicate observations in this data frame, and why?

---

## Transforming data

Sometimes we wish to apply a transform to data by pushing each data value through some function. Common transformations are unit conversions (miles to kilometers, for example), log or power transformations, and normalizing data (for example, converting data to z-scores).

### Transforming data with a built-in function

Consider the following data...

In [19]:
df = pd.DataFrame({'x': range(6),
                   'y': [0.1, 0.9, 4.2, 8.7, 15.9, 26]})

In [20]:
df

   x     y
0  0   0.1
1  1   0.9
2  2   4.2
3  3   8.7
4  4  15.9
5  5  26.0

---

Plot the data (y vs. x) (seaborn's `relplot()` is handy).

In [27]:
sns.relplot(data = df, x = 'x', y = 'y')

---

In [22]:
df['y'] = df['y'].transform(np.sqrt)

In [26]:
sns.relplot(data = df, x = 'x', y = 'y')

In [62]:
tst = bcd2['chrom'].transform(np.sqrt)

In [63]:
tst

0      1.732051
1      1.732051
2      1.732051
3      1.732051
4      1.732051
         ...
694    1.000000
695    1.000000
696    2.828427
697    3.162278
698    3.162278
Name: chrom, Length: 699, dtype: float64

### Applying a custom function to data

In [28]:
def zed(grp):
    grp_mean = grp.mean(numeric_only = True)
    grp_std = grp.std()
    
    grp = (grp - grp_mean)/grp_std
    
    return grp

In [30]:
trans_data = grpd[['thick', 'chrom']].transform(zed)

In [31]:
trans_data

     clump_thickness  bland_chromatin
0           1.220597         0.827160
1           1.220597         0.827160
2           0.026081         0.827160
3           1.817856         0.827160
4           0.623339         0.827160
..               ...              ...
694         0.026081        -1.022265
695        -0.571177        -1.022265
696        -0.907153         0.884570
697        -1.318716         1.765470
698        -1.318716         1.765470

[699 rows x 2 columns]

#### lambda functions

We can also create transformed copies of the data, where we apply the transformation on a per group basis.

In [9]:
trans_data = grpd[['thick', 'chrom']].transform(
    lambda col_vals: (col_vals - col_vals.mean()) / col_vals.std()
)

In [11]:
trans_data.mean()

clump_thickness   -2.544924e-17
bland_chromatin    4.089455e-17
dtype: float64

In [12]:
trans_data.std()

clump_thickness    0.999282
bland_chromatin    0.999279
dtype: float64

In [7]:
bcd['class'].value_counts()

benign       458
malignant    241
Name: class, dtype: int64

### The `apply()` method

### filtering data with `filter()`

### Combining multiple files

### Duplicate entries # Move to Wrangling II

In [16]:
bcd.nunique()

patient_id               645
clump_thickness           10
cell_size_uniformity      10
cell_shape_uniformity     10
marginal_adhesion         10
single_ep_cell_size       10
bare_nuclei               10
bland_chromatin           10
normal_nucleoli           10
mitoses                    9
class                      2
doctor_name                4
dtype: int64

In [ ]:
df[df.duplicated(subset = 'patient_id', keep =False)].sort_values('patient_id')

In [ ]:
repeat_patients = df.groupby(by = 'patient_id').size().sort_values(ascending =False)