# Pandas Review Homework

Import pandas

In [ ]:
import pandas as pd

## 1. Make a data frame from a Python dictionary.

Create a Python dictionary containing

- the names of four of your friends (real or imaginary)
- their ages
- the year they started college
- their majors

Make a pandas data frame from your dictionary.

Show your new data frame.

Fetch the ages of all your friends.

Fetch the name of your fourth friend.

Fetch the age of your third friend.

Compute and show the average age of your friends.

## 2. Find a table of data on Wikipedia and import it.

Go to Widepedia and find a table of data.

In the cell below, import the data and display it (first and last five rows).

## 3. Load the RMS titanic data and export a subset of columns

Load the titanic data, make a `DataFrame` of the fare paid and the survival columns, and export it as a `.csv` file.

Import your new `.csv` file into a new `DataFrame` and show it (first and last five rows).

## 4. Fetch specific rows of data of the titanic data

Fetch all the second class passengers and put them in a new `DataFrame` and show it.

Fetch all the first and third class passengers, put them in a new `DataFrame`, and show it.

## 5. Plot some Titanic data

### 5.a - Scatter plot

Make a scatter plot of survival status vs. cabin class

### 5.b - Box plot

Make a box plot of survival status **by** cabin class.

## 6. Calculate new columns

### 6.a - Create a new column in your titanic `DataFrame` quantifying the total number of relative on board (siblings + parents).

### 6.b - Add another column – a Boolean column – indicating whether each person had any relatives on board.