# Pandas Review

Pandas is a Python package for organizing and analyzing data. In one sense, it is a generalization of NumPy, on which it is based.

NumPy is fantastic for working with numerical data that are "well behaved". For example, if you are analyzing data from a tightly controlled laboratory experiment, then NumPy might be perfect.

In the broader world of behavioral data science, however, data can be complicated. Variables can be of multiple types, values can be missing, etc. Pandas was developed to make it easier for us to work with data sets in general, not just numerical arrays.

If you have experience in R then, in a nutshell, pandas gives you an equivalent to R in Python (some data scientists use both, picking one or the other depending on the project, but most people prefer sticking with one language if they can).

## Pandas Data

The main data object in pandas is the `DataFrame`. It is a table of data in which each column has a name, generally corresponding to a specific real-world variable. 

Just as we can think about a NumPy array as a spatial layout of a Python list of lists, we can think of a pandas `DataFrame` as a spatial layout of a Python dictionary.

Consider the following Python dictionary:

In [146]:
dis_chars = {'name': ['Mickey', 'Minnie', 'Pluto'],
             'gender': ['m', 'f', 'n'],
             'age': [95, 95, 93],}

In [147]:
dis_chars

{'name': ['Mickey', 'Minnie', 'Pluto'],
 'gender': ['m', 'f', 'n'],
 'age': [95, 95, 93]}

On the one hand, this is a nice organized *container* of data. But on the other hand, it is not much else. If we wanted to compute anything, like the mean age of all non-male characters, we'd have to start writing code from scratch.

Let's make our dictionary into a `DataFrame`. First, we'll import pandas.

In [ ]:
import pandas as pd

Importing pandas as `pd` is conventional, like importing numpy as `np`, so there's no reason to do anything else.

Now we can convert our data to a `DataFrame` using `pd.DataFrame()`.

In [ ]:
dis_df = pd.DataFrame(dis_chars)

And let's look at our new creation!

In [ ]:
dis_df

Now we have a nice organized table of data, in which each column corresponds to a variable, and can be referred to by name.

In [ ]:
dis_df['name']

Further, it makes it relatively easy for us to do lots of analyses "out of the box". For example:

In [ ]:
dis_df['age'].mean()

Here, we just grabbed a column of data by name (`dis_df['age']`), and then computed its mean with the built-in `mean()` method.

The `DataFrame` isn't the only type of object in pandas, but it's the biggie. If you have experience in R, then you'll be in familiar territory, because the `DataFrame` in Python is modeled after the data frame (or tibble) in R.

In [ ]:
type(dis_df)

Each column of a `DataFrame` is a pandas `Series`.

In [ ]:
dis_age_s = dis_df['age']
dis_age_s

In [ ]:
type(dis_age_s)

And each series is a collection of more fundamental objects. So if we look at the last age in our series...

In [ ]:
a = dis_age_s[2]
a

And check the type...

In [ ]:
type(a)

We see that it is a numpy integer; a hint that pandas is indeed built from NumPy!

If we check the type of one of the other values:

In [ ]:
type(dis_df['gender'][2])

We see that it is a Python string object. (Take a moment to dissect that line of code, and see how it is doing exactly the same thing as we did to get the type of an age value, just in one go.)

---

In the code cell below, get the very first name in our Disney `DataFrame`.

In [ ]:
# At first, Mickey's name was going to be Mortimer Mouse. I know, right?

---

One great thing about pandas is that, if we want to add a column, we just act like it already exists and assign values to it. Like this:

In [ ]:
dis_df['wearsBow'] = [False, True, False]
dis_df

Notice that we are addressing a 'wearsBow' column just like we would an existing column such as 'name'. Pandas, rather than complain and be annoying, just creates the column for us!

## Data i/o (Input and Output)

One of the really great things about pandas is that it makes reading, inspecting, and writing data files in common formats very easy.

### Importing (input)

Following the pandas documentation, let's look at some data about the passengers on the RMS Titanic. 

Download the titanic.csv and place in folder named 'data' that is in the same folder as you have this notebook.

Now, loading it is as easy as calling `pd.read_csv()`:

In [ ]:
In [2]: titanic = pd.read_csv("data/titanic.csv")

There are lots of other formats that pandas can read, including excel and html. 

It can even read data from the clipboard! Try it! Go to the [Wikepedia page for Austin](https://en.wikipedia.org/wiki/Austin,_Texas), scroll to the demographics section, and select the three columns (including the headers) down to 2020, and copy them to your clipboard.

Now run the code below.

In [151]:
atx_pop = pd.read_clipboard()

In [ ]:
atx_pop

### Inspecting

It's important to peek at any imported data to make sure nothing looks funny (like we just did with the Austin population data). So let's peek at the RMS Titanic data.

In [ ]:
titanic

A nice thing about pandas `DataFrames` is that, by default, they show you their first and last 5 rows (their head and tail), and then tell you how big they are (891x12 in this case).

We can look at as much of the head or tail as we want with the `head()` and `tail()` methods.

In [ ]:
titanic.tail(9)

---

Use the cell below to display the first 11 rows of the titanic data.

In [ ]:
# but these rows go to 11...

---

We can also look at the data types:

In [ ]:
titanic.dtypes

(the columns listed as "object" seem to be strings)

We can also get more detailed information using the `info()` method:

In [ ]:
titanic.info()

This gives us a nice summary of the types of data in the columns and, in particular, how many valid (non-missing) values are in each. We can see that "Cabin", for example, has many missing values.

### Exporting (output)

The `to_` methods, such as `to_csv()`, `to_excel()`, etc., allow us to export data in many ways. As an example, let's export the titanic data as a Microsoft Excel file.

---

In the cell below, use `titanic.to_excel(...)` to export the data to an Excel spreadsheet.

In [ ]:
# exporting an Excel file!

Open the file in Excel to verify that the export worked.

---

## Selecting Data

In numpy, we select data by primarily by row and column indexes. In pandas, we generally address columns (corresponding to real world variables) by *name* and rows by one or more *criteria*.

### Getting columns

As we did above with our little toy Disney data, we can compute the mean age of the passengers by grabbing that column of data by name, and then computing the mean of it.

In [ ]:
ages = titanic['Age']
ages.mean()

---

In the cell below, compute the mean age in one line of code (i.e., not creating the temporary 'age' object).

In [ ]:
# average age of passengers on the RMS Titanic

---

We can get multiple columns by indexing our `DataFrame` with a Python list of column names. We can do this in two lines for readability.

In [ ]:
wanted_cols = ['Fare', 'Survived']
fare_surv = titanic[wanted_cols]

In [ ]:
fare_surv

But more commonly we do it in a single line.

In [ ]:
fare_surv = titanic[['Fare', 'Survived']]

Your initial reaction might be "Why the double brackets? Why not single brackets?", and the reason should be clear if we look back at the two line example: the `DataFrame` expects a Python list, not separate strings. So the outer set of brackets are indexing brackets, and the inner set defines a Python list.

### Getting rows

We generally extract rows of interest by placing one or more criterea on a particular column.

In [ ]:
my_critereon = fare_surv['Fare'] > 20
rich = fare_surv[my_critereon]

What is actually happening here is that the logical test `fare_surv['Fare'] > 20` is creating a pandas series that is `True` for the rows in which the fare paid was greater than 20 pounds sterling, and `False` otherwise. 

Let's look at `my_critereon`:

In [ ]:
my_critereon

This series is then used to get all the rows of `fare_surv` that correspond to the `True` values, and these are placed in `rich`.

This is known as ***logical indexing***, and is widely used in data analysis!

As with fetching columns, we can do this one line instead of two.

In [ ]:
rich = fare_surv[fare_surv['Fare'] > 20]

Whether you make a separate indexing series like `my_critereon` or put the test inside the indexing brackets is up to you. For simple tests, putting the test inside the brackets doesn't hurt the readability of the code at all. For more complicated tests – if you wanted all the cases of female passengers that paid between 20 and 50 lbs. for their fare, and had no siblings and two parents aboard, say – then you might want to make the test series first, and then do the indexing.

---

In the cell below, get the passenger class (`Pclass`) and survival status of passengers that paid more than 20 pounds for their voyage.

In [ ]:
# passenger class and survival of high fares

Now fetch the same for passengers that paid 20 pounds or less for their voyage.

In [153]:
# passenger class and survival of low fares

Finally, get the class and survival status for passengers that paid either less than 10 lbs. **or** more than 50 lbs. for their fare.

In [154]:
# ppl paying a little *or* a lot

If you did the above in two steps, see if you can do it in one go instead! There are hints just above.

---

## Basic Plotting

`DataFrame` objects know how to plot themselves! Or, more precisely, `DataFrame` objects have methods for plotting. Let's try!

In [ ]:
import matplotlib as plt
fare_surv.plot()

As a graph, this one isn't very informative, but it does show us what the default `DataFrame.plot()` method does: it plots (numerical) data by row index. This could be quite useful if a data frame were sorted on a particular variable...

Other type of plots are reached through plot, like `fare_surv.plot.scatter()` or similar. We can see what methods are available by hitting the \<TAB\> key after `DataFrame.plot.`
    
Do this below;

In [ ]:
fare_surv.plot.

So there *is* a `scatter()` available, along with many of our other `matplotlib` friends. 

Let's try a scatter plot Fare vs. Survival.

In [ ]:
fare_surv.plot.scatter(x="Survived", y="Fare", alpha = 0.1)

Looks like those 500 lb. fares were worth it.

---

Use the cell below to make a box plot of the ***column*** `Fare` ***by*** the variable `Survived`.

In [ ]:
# boxplot of Fare paid by Survival status

---

## Calculating New Columns

We often want to compute new columns based on existing ones. Pandas makes this really easy!

Let's use numpy to make a toy data set of annual wages and income-from-interest for 10 people.

In [ ]:
import numpy as np

In following code, you should be able to understand the numpy bit up top. The pandas bit further down should sort of make sense, but don't worry if you don't fully understand it. You can come back and look at it again after you've finished this tutorial.

In [ ]:
# make some incomes in thousands of US dollars
rng = np.random.default_rng(seed=42)
raw_dat = rng.integers(0,100,size=(10, 2))
raw_dat[:,0] = raw_dat[:,0] + 100
raw_dat[4,1] = raw_dat[4,1] + 200 

# make initial column names
col_names = ['wage', 'interest'] 

# make the initial pandas data frame
incomes = pd.DataFrame(raw_dat, columns = col_names) 

# add a gender column 
gender = ['f', 'm', 'n', 'f', 'f', 'n', 'm', 'm', 'f', 'f']
incomes['gender'] = gender

# look at our new data frame
incomes

One obvious thing to look at from a behavioral science perspective would be total income. After all, money is money...

So we'll make a new column for total income, and set it to the sum of the wage and interest columns. To do this, we address our desired column as though it already exists, and make it equal to what we want (the sum of wage and interest income, in this case).

In [ ]:
incomes['total'] = incomes['wage'] + incomes['interest']
incomes

*All of the **arithmetic** and **logical** operators can be used to create new columns based on existing ones.*

We can also use scaler multipliers or addends, etc. (like we did when we created the raw data with numpy just above). The scaler will be "broadcast" to each element of the column.

For example, if we wanted to know the total income in Euros, we could do this:

In [ ]:
dol2eu = 0.94 # 0.94 euros per US dollar (early 2023)
incomes['total_eu'] = dol2eu * incomes['total']
incomes

---

In the cell below, add a Boolean (True/False) column that shows if each person's wages exceeds their income from interest.

In [ ]:
# adding a wages vs incomes comparison column

---

## Summary Statistics

Getting summary statistics is also something that pandas makes really easy.

### Simple descriptive statistics

We can get a quick look an entire `DataFrame` with its `describe()` method (similar to `summary()` in R).

In [ ]:
incomes.describe()

Notice that `describe()` handled the presence of a string column gracefully by ignoring it rather than producing an error.

If we hit the \<TAB\> key after `incomes.`, we'll see that `DataFrame` objects have a LOT of methods!

In [ ]:
incomes.

If we browse around a little, we see that all the common summary statistics like mean, median, standard deviation, etc. are there, and they all have reasonable names. Let's compute the mean

In [ ]:
incomes.mean()

That worked, but it complained (at least my version of pandas did). It wants us to pick only valid (numeric) columns over which to compute the mean. Okay.

In [ ]:
incomes[['wage', 'interest']].mean()

---

Compute the standard deviation of total income (in Euros, if you prefer)

In [ ]:
# deviation of total income

---

Pro tip: if you *do* want to compute a statistic on *all* the numeric columns on large data frame, you can save typing with `DataFrame.mean(numeric_only = True)`. Try it!

### Computing statistics by group

We can also easily compute statistics separately based on a grouping variable, like 'gender' for the incomes data.

Here's our grouping variable:

In [ ]:
incomes['gender']

And now we'll use it in our data frame's `groupby()` method. Like this.

In [ ]:
incomes[['total', 'gender']].groupby('gender').mean()

If you are coming from the R/tidyverse world (e.g. if you took PSY420 recently), you'll recognize this command as similar to using the pipe (`%>%`).

What's happening is that 

- `incomes[['total', 'gender']]` creates a data frame
- `groupby('gender')` creates another data frame grouped by gender
- `mean()` computes the mean on the grouped data frame

So we could (almost) turn this directly into R code that uses the pipe:
```
incomes[['total', 'gender']] %>%
groupby('gender') %>%
mean()
```

How many people were in each group? Just use the `value_counts()` method!

In [ ]:
incomes['gender'].value_counts()

---

In the cell below, compute the survival rate for passengers on the RMS Titanic grouped by passenger class. 

(*hint* - having the Survived variable coded as 0 or 1 works to your advantage)

---

### Multiple statistics using aggregation

We can compute many things at once using the `agg()` (aggregate) method. To use this method, we pass it a dictionary in which the keys are column names and the values are lists of valid statistics (i.e. methods that `DataFrames` know about). Like this.

In [ ]:
my_stats_dict = {
         "wage": ["mean", "std"],
         "interest": ["mean", "std"],
         "total": ["mean", "std"]
     }

incomes.agg(my_stats_dict)

You can do the above in one go (rather than defining a separate `my_stats_dict` object), but it looks a bit messy in our opinion.