# Pandas Review Homework

Import pandas

## 1. Make a data frame from a Python dictionary.

Create a Python dictionary containing

- the names of four of your friends (real or imaginary)
- their ages
- the year they started college
- their majors

Make a pandas data frame from your dictionary.

Show your new data frame.

Fetch the ages of all your friends.

Fetch the name of your fourth friend.

Fetch the age of your third friend.

Compute and show the average age of your friends.

## 2. Find a table of data on Wikipedia and import it.

Go to Widepedia and find a table of data. It can be anything you want.

In the cell below, import the data and display it (first and last five rows).

## 3. Load the RMS titanic data and export a subset of columns

Load the titanic data, make a new `DataFrame` of the fare paid and the survival columns, and export it as a `.csv` file.

Import your new `.csv` file into a new `DataFrame` and show it (first and last five rows).

## 4. Fetch specific rows of data of the titanic data

Fetch all the second class passengers of the titanic data and put them in a new `DataFrame` and show it.

Fetch all the first and third class passengers, put them in a new `DataFrame`, and show it.

## 5. Plot some Titanic data

First, import `matplotlib`

### 5.a - Scatter plot

Make a scatter plot of fare vs. cabin class (seems like these should be perfectly related).

### 5.b - Distribution plot (challenging!)

Plot the distributions of fare paid for survivors and deceased in a way that makes for a good visual comparison.

## 6. Calculate new columns

### 6.a - Compute total number of relatives
Create a new column in your titanic `DataFrame` quantifying the total number of relatives on board (siblings + parents – the number of siblings are in `SibSp` and the number of parents are in `Parch`).

### 6.b - Did a person have any relatives on board?
Add another column – a Boolean column – indicating whether each person had any relatives on board.

## 7. Computing descriptive statistics

### 7.a - Compute a mean for a column

Compute the proportion of survivors of the RMS Titanic. **Hint**: the coding of `Survival` as 0 or 1 really works to our advantage here: the proportion of survivors in any group is easily computed using a common statistical function. The 7.a section header should also give you a big clue!

### 7.a - Compute a mean for a subset of data

Compute the proportion of survivors for the females on the RMS Titanic (you can do this in one go, or two steps, using an intermediate object containing just the female data).

### 7.b - Compute statistics by group

Compute the proportion of female vs. male survivors of the RMS Titanic.

Now compute the proportion of female vs. male survivors of the RMS Titanic, *along with the **s**tandard **e**rror of the **m**ean*. The **bold** type should give you a hint about the name of the method to compute the standard error. To do this, you'll need to combine the `groupby()` and `agg()` methods!

What does this tell you about gender roles when the RMS Titanic was sunk?

Compute the proportion of survivors by cabin class and their standard error.

What does this tell you about socio-economic status when the RMS Titanic was sunk?